<!DOCTYPE html>
<html>
<head>
    <title>Ecommerce Backend</title>
</head>

<body>

<nav style="padding:10px; border-bottom:1px solid #ccc;">
    <a href="/?cart={{cartId}}">Home</a> |
    <a href="/products?cart={{cartId}}">Productos</a> |
    <a href="/carts/{{cartId}}?cart={{cartId}}">Carrito</a>
</nav>

<div style="padding:20px;">
    {{{body}}}
</div>

</body>
</html>